<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
 <form>
     <label>
       <input type="text" placeholder="Enter Username" [required]="true">
     </label>
     <label>
       <input type="email" placeholder="Enter email" [required]="true">
     </label>
     <label>
       <input type="password" placeholder="Enter Password" [required]="true">
     </label>
     <button>Sign Up</button>
   <p>You  have account? <a>Login</a></p>
   </form>

</body>
</html>
